/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #fff;
    border-bottom: 0px solid #ccc;
}
.logo img{
    width: 100px;

}
.logo h1 {
    font-size: 24px;
    color: #000;
}

.menu {
    list-style: none;
    display: flex;
    padding-right: 17px;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.menu a:hover {
    color: #007BFF;
}

/* Main Section */
.products {
    text-align: center;
    padding: 50px 20px;
    background-color: #e0f7fa;
}

.products h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #007BFF;
}

.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 16px;
    color: #333;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: #fff;
}

.whatsapp-link img {
    width: 30px;
    margin-top: 10px;
}
/* Ícone flutuante do WhatsApp */
.whatsapp-floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-floating img {
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
