/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #133f1b; /* Cor de fundo laranja */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* Logo */
.header .logo {
    max-width: 200px;
    margin-bottom: -80px;
}

/* Buttons */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    background-color: #7d837c; /* Azul escuro */
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #373837; /* Cor mais escura no hover */
}

.button-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}
